body{
    background-color: #002930;
}

div{
   text-align: center;
   padding: 20px;

    background-color:#ffffff ;
    width: 50%;
    margin: auto;
}

div form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
button{
    border:0px;
    background-color:#002930;
    color: #ffffff;
    padding: 7px 20px;
    font-weight: 600;
    width: 100px;
}